{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div hidden id="chargement"></div>
<div hidden id="container">

    <section id="header">
        <video muted autoplay loop>
            <source src="{{ asset('assets/videos/f1intro2.mp4') }}" type="video/mp4"/>
        </video>
        <div id="svg">
            <div id="headerTitle" class=".hidden">
                <span>gardez</span>
                <span>le</span>
                <span>rythme</span>
                <span>de la f1</span>
            </div>
            <img src="{{ asset('assets/svg/nnnoise.svg')}}" alt="">
        </div>
        <a href="#grandprix" id="scrollDown"><i class="fa-solid fa-chevron-down"></i></a>
    </section>
    <section id="grandprix">
        <p id="nextGp"></p>
        <div class="countdown">
            <div>
                <p id="jours">00</p>
                <p>Jours</p>
            </div>
            <div>
                <p id="heures">00</p>
                <p>Heures</p>
            </div>
            <div>
                <p id="minutes">00</p>
                <p>Minutes</p>
            </div>
            <div>
                <p id="secondes">00</p>
                <p>Secondes</p>
            </div>
        </div>
        <div id="accordeonGp"></div>
    </section>
    <section id="lastRace">
        <div id="lastRaceResults">
            <div id="lastRaceResultsHeader"></div>
            <ul id="lastRaceResultsUl"></ul>
        </div>
        <div id="messages">
            {% if app.user %}
                <div id="addMessage">
                    {{ form_start(formAddPost) }}
                    <div class="addMessage">
                        {{ form_row(formAddPost.message) }}
                    </div>
                    <div class="ajouter">
                        {{ form_row(formAddPost.ajouter) }}
                    </div>
                    {{ form_end(formAddPost) }}
                </div>
            {% endif %}
            <ul id="listeMessages">
                {% for message in messages %}
                    <li><div id="userImg"><img src="{{ asset('assets/user/' ~ message.user.image) }}" alt=""></div>
                        <span>{{ message.user.pseudonyme }}</span>
                        <span>{{ message.dateCreation|date("d/m/Y H:i:s") }}</span>
                        <span>{{ message.message }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('javascript/home.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment-with-locales.min.js"></script>
{% endblock %}
