{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div hidden id="chargement"></div>
<div hidden id="container">

    <section id="header">
        <video muted autoplay loop>
            <source src="{{ asset('assets/videos/f1intro2.mp4') }}" type="video/mp4"/>
        </video>
        <div id="svg">
            <div id="headerTitle" class=".hidden">
                <span>gardez</span>
                <span>le</span>
                <span>rythme</span>
                <span>de la f1</span>
            </div>
            <img src="{{ asset('assets/svg/nnnoise.svg')}}" alt="">
        </div>
        <a href="#grandprix" id="scrollDown"><i class="fa-solid fa-chevron-down"></i></a>
    </section>
    <section id="grandprix">
        <p id="nextGp"></p>
        <div class="countdown">
            <div>
                <p id="jours">00</p>
                <p>Jours</p>
            </div>
            <div>
                <p id="heures">00</p>
                <p>Heures</p>
            </div>
            <div>
                <p id="minutes">00</p>
                <p>Minutes</p>
            </div>
            <div>
                <p id="secondes">00</p>
                <p>Secondes</p>
            </div>
        </div>
        <div id="accordeonGp"></div>
    </section>
    <section id="lastRace">
        <div id="lastRaceResults">
            <h3>Résultats du dernier Grandprix</h3>
            <div id="lastRaceResultsHeader"></div>
            <ul id="lastRaceResultsUl"></ul>
        </div>
    </section>
    <section id="commentaires">
        <h3>Réagissez au dernier Grandprix</h3>
        {% if posts.isEmpty() %}
            <div class="aucunMessage">
                <span>Aucun message</span>
            </div>         
        {% else %}
            <div id="messages">
                <ul id="listeMessages" class="listePosts">
                    {% for post in posts %}
                        <li><div class="post">
                            {% if post.statut == 1 and post.reponses is not empty() %}
                                <span class="messageSuppr">Message supprimé</span>
                            {% elseif post.statut == 1 and post.reponses is empty() %}
                            {% else %} 
                                <div class="userImg">
                                    {% if post.user == null %}
                                        <img src="{{ asset('assets/user/default.png') }}" alt=""> 
                                    {% else %}
                                        <img src="{{ asset('assets/user/' ~ post.user.image) }}" alt=""> 
                                    {% endif %}
                                </div>
                                <div class="postCard">
                                    <div class="infosPost">
                                        <div>
                                            {% if post.user == null %}
                                                <span class="pseudo">Utilisateur supprimé</span>
                                            {% else %}
                                                <span class="pseudo">{{ post.user.pseudonyme }}</span>
                                            {% endif %}
                                            <span class="datePost">{{ post.dateCreation|date("d/m/Y H:i:s") }}</span>
                                        </div>
                                        <div class="actions">
                                            {% if app.user %}                                        
                                            <a data-like href="{{ path('like_post', {'id': post.id}) }}" class="likePost {% if (app.user in post.likes) %} liked{% endif %}">
                                                {% endif %}
                                                <span>{{ post.likes|length }}</span>
                                                <i class="fa-solid fa-heart"></i>
                                            {% if app.user and app.user.statut == 0 %}                                        
                                                </a>
                                                <span data-reply data-id="{{ post.id }}" class="replyPost"><i class="fa-solid fa-reply"></i></span>
                                            {% endif %}
                                            {% if app.user == post.user or is_granted('ROLE_ADMIN') %}
                                                <a data-delete href="{{ path('delete_post', {'id': post.id}) }}" class="delete"><i class="fa-regular fa-trash-can"></i></a>
                                            {% endif %}
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <a class="btnBan" href="{{ path('ban_user', {'id': post.user.id})}}">Bannir</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <span class="message">{{ post.message }}</span>
                                </div>
                            {% endif %}
                            </div>
                            <ul id="listeReponses" class="listeReponses">
                                {% set reponses = post.reponses %}
                                {% for reponse in reponses %}
                                    <li><div class="post">
                                            <div class="userImgReponse">
                                                {% if reponse.user == null %}
                                                    <img src="{{ asset('assets/user/default.png') }}" alt="">
                                                {% else %}    
                                                    <img src="{{ asset('assets/user/' ~ reponse.user.image) }}" alt="">
                                                {% endif %}
                                            </div>
                                            <div class="postCard">
                                                <div class="infosPost">
                                                    <div>
                                                        {% if reponse.user == null %}
                                                            <span class="pseudo">Utilisateur supprimé</span>
                                                        {% else %} 
                                                            <span class="pseudo">{{ reponse.user.pseudonyme }}</span>
                                                        {% endif %}
                                                        <span class="datePost">{{ reponse.dateCreation|date("d/m/Y H:i:s") }}</span>
                                                    </div>
                                                    <div class="actions">
                                                        {% if app.user %}                                        
                                                            <a data-like href="{{ path('like_reponse', {'id': reponse.id}) }}" class="likePost {% if (app.user in reponse.likes) %} liked{% endif %}">
                                                        {% endif %}
                                                            <span>{{ reponse.likes|length }}</span>
                                                            <i class="fa-solid fa-heart"></i>
                                                        {% if app.user and app.user.statut == 0 %}                                            
                                                            </a>
                                                            <span data-reply data-id="{{ post.id }}" class="replyPost"><i class="fa-solid fa-reply"></i></span>
                                                        {% endif %}
                                                        {% if app.user == reponse.user or is_granted('ROLE_ADMIN') %}
                                                            <a data-delete href="{{ path('delete_reponse', {'id': reponse.id}) }}" class="delete"><i class="fa-regular fa-trash-can"></i></a>
                                                        {% endif %}
                                                        {% if is_granted('ROLE_ADMIN') %}
                                                            <a class="btnBan" href="{{ path('ban_user', {'id': post.user.id})}}">Bannir</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <span class="message">{{ reponse.message }}</span>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}            
                </ul>
            </div>
            {% endif %}  
            {% if app.user and app.user.statut != 1 %}
                <div id="addMessage">
                    {{ form_start(formAddPost) }}
                    <div class="addMessage">
                        {{ form_row(formAddPost.message) }}
                    </div>
                    <div class="ajouter">
                        {{ form_row(formAddPost.ajouter) }}
                    </div>
                    {{ form_end(formAddPost) }}
                </div>
                <div id="addReponse">
                    <div id="formReponse">
                        <span id="btnFermer"><i class="fa-solid fa-xmark"></i></span>
                        {{ form_start(formAddReponse) }}
                        <div class="addMessage">
                            {{ form_row(formAddReponse.message) }}
                        </div>
                        <div class="ajouter">
                            {{ form_row(formAddReponse.ajouter) }}
                        </div>
                        {{ form_end(formAddReponse) }}
                    </div>
                </div>
            {% elseif app.user.statut == 1 %}
                <span class="msgBan">Vous avez été banni, vous ne pouvez plus rédiger de commentaires</span>
            {% endif %}
    </section>
    <section id="footer">
        <footer>
            <div class="liens">
                <a href="">Accueil</a>
                <a href="">Politique de confidentialité</a>
                <a href="">Conditions générales d'utilisation</a>
                <a href="">Conditions générales de vente</a>
                <a href="mailto:f1ndout@contact.com">Nous contacter</a>
                <a href="https://github.com/romdk"><i class="fa-brands fa-github"></i></a>
            </div>
            <span>F1ndout © 2023</span>
        </footer>
    </section>
</div>
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('javascript/home.js') }}"></script>
        <script src="{{ asset('javascript/commentaires.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment-with-locales.min.js"></script>
{% endblock %}
