{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div hidden id="chargement"></div>
<div hidden id="container">

    <section id="header">
        <video muted autoplay loop>
            <source src="{{ asset('assets/videos/f1intro2.mp4') }}" type="video/mp4"/>
        </video>
        <div id="svg">
            <div id="headerTitle" class=".hidden">
                <span>gardez</span>
                <span>le</span>
                <span>rythme</span>
                <span>de la f1</span>
            </div>
            <img src="{{ asset('assets/svg/nnnoise.svg')}}" alt="">
        </div>
        <a href="#grandprix" id="scrollDown"><i class="fa-solid fa-chevron-down"></i></a>
    </section>
    <section id="grandprix">
        <p id="nextGp"></p>
        <div class="countdown">
            <div>
                <p id="jours">00</p>
                <p>Jours</p>
            </div>
            <div>
                <p id="heures">00</p>
                <p>Heures</p>
            </div>
            <div>
                <p id="minutes">00</p>
                <p>Minutes</p>
            </div>
            <div>
                <p id="secondes">00</p>
                <p>Secondes</p>
            </div>
        </div>
        <div id="accordeonGp"></div>
    </section>
    <section id="lastRace">
        <div id="lastRaceResults">
            <div id="lastRaceResultsHeader"></div>
            <ul id="lastRaceResultsUl"></ul>
        </div>
    </section>
    <section id="commentaires">
        <div id="messages">
            <ul id="listeMessages" class="listePosts">                   
                {% for post in posts %}
                    <li><div class="post">
                            <div class="userImg"><img src="{{ asset('assets/user/' ~ post.user.image) }}" alt=""></div>
                            <div class="postCard">
                                <div class="infosPost">
                                    <span class="pseudo">{{ post.user.pseudonyme }}</span>
                                    <span class="datePost">{{ post.dateCreation|date("d/m/Y H:i:s") }}</span>
                                    <span class="likePost"><i class="fa-solid fa-heart"></i></span>
                                    <span data-reply data-id="{{ post.id }}" class="replyPost"><i class="fa-solid fa-reply"></i></span>
                                </div>
                                <span class="message">{{ post.message }}</span>
                            </div>
                        </div>
                        <ul id="listeReponses" class="listeReponses">
                            {% set reponses = post.reponses %}
                            {% for reponse in reponses %}
                                <li><div class="post">
                                        <div class="userImgReponse"><img src="{{ asset('assets/user/' ~ reponse.user.image) }}" alt=""></div>
                                        <div class="postCard">
                                            <div class="infosPost">
                                                <span class="pseudo">{{ reponse.user.pseudonyme }}</span>
                                                <span class="datePost">{{ reponse.dateCreation|date("d/m/Y H:i:s") }}</span>
                                                <span class="likePost"><i class="fa-solid fa-heart"></i></span>
                                            </div>
                                            <span class="message">{{ reponse.message }}</span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            {% if app.user %}
                <div id="addMessage">
                    {{ form_start(formAddPost) }}
                    <div class="addMessage">
                        {{ form_row(formAddPost.message) }}
                    </div>
                    <div class="ajouter">
                        {{ form_row(formAddPost.ajouter) }}
                    </div>
                    {{ form_end(formAddPost) }}
                </div>
                <div id="addReponse">
                    <div id="formReponse">
                        <span id="btnFermer"><i class="fa-solid fa-xmark"></i></span>
                        {{ form_start(formAddReponse) }}
                        <div class="addMessage">
                            {{ form_row(formAddReponse.message) }}
                        </div>
                        <div class="ajouter">
                            {{ form_row(formAddReponse.ajouter) }}
                        </div>
                        {{ form_end(formAddReponse) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('javascript/home.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment-with-locales.min.js"></script>
{% endblock %}
