{% extends 'base.html.twig' %}

{% block title %}Hello EcurieController!{% endblock %}

{% block body %}
<section id="ecurie">
    {% for driver in constructorDrivers %}
    <a href="/pilote/{{ driver.driverId }}" class="driverCard">
            <span class="driverName">{{ driver.givenName ~ ' ' ~ driver.familyName }}</span>
            <span class="driverFlag"><img src="" alt=""></span>
            <span class="driverLogo"><img src="{{ asset('assets/pilotes/' ~ driver.driverId ~ driver.permanentNumber ~ '.png') }}" alt=""></span>
            <span class="driverPortrait"><img src="{{ asset('assets/pilotes/' ~ driver.driverId ~ '_portrait' ~ '.png') }}" alt=""></span>
    </a>        
    {% endfor %}
    <div class="infosCard">
        {% if app.user %} 
            <a data-fav href="{{ path('fav_ecurie', {'id': ecurie.id}) }}" class="favoris {% if (app.user in ecurie.users) %} fav{% endif %}"><i class="fa-solid fa-star"></i></a>
        {% endif %}
            <div class="constructorLogo"><img src="{{ asset('assets/ecuries/Logo_ecurie_' ~ id ~ '.png') }}" alt=""></div>
            <div class="constructorData">
                <span>Date de creation: {{ ecurie.dateCreation|date("Y")}}</span>
                <span>Localisation: {{ ecurie.localisation }}</span>
                <span>Directeur: {{ ecurie.directeur }}</span>  
                <span>Titres constructeur: {{ constructorTitles|length }}</span>
                <span>Saisons disputés: {{ constructorSeasons|length }}</span>
                <span>Courses disputés: {{ constructorRaces|length }}</span>
                <span>Victoires: {{ constructorWins|length }}</span>
                <span>Podiums: {{ constructorPodiums }}</span>
                <span>Pole positions: {{ constructorPole|length }}</span>
                <p>{{ ecurie.description }}</p>
            </div>
    </div>
    <div class="carCard">
            <img src="{{ asset('assets/voitures/' ~ id ~ '_voiture.png') }}" alt="">
            <aside>
                <h4>{{ ecurie.nomVoiture }}</h4>
                <span>Puissance: {{ ecurie.puissanceVoiture }}</span>
                <span>Poids: {{ ecurie.poidsVoiture }}</span>
                <span>Fabriquant du moteur: {{ ecurie.moteurVoiture }}</span>
            </aside>
    </div>
</section>
<section id="footer">
    <footer>
        <div class="liens">
            <a href="">Accueil</a>
            <a href="">Politique de confidentialité</a>
            <a href="">Conditions générales d'utilisation</a>
            <a href="">Conditions générales de vente</a>
            <a href="mailto:f1ndout@contact.com">Nous contacter</a>
            <a href="https://github.com/romdk"><i class="fa-brands fa-github"></i></a>
        </div>
        <span>F1ndout © 2023</span>
    </footer>
</section>
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('javascript/favoris.js') }}"></script>
{% endblock %}
