{% extends 'base.html.twig' %}

{% block title %}F1ndout - Profil{% endblock %}

{% block body %}
<section id="profil">
    <h2>Mes réservations</h2>   
    {% if reservations.isEmpty() %}
        <span>Aucune réservation</span>
    {% else %}
        <table>
            <tr>
                <th>Date</th>
                <th>Grandprix</th>
                <th>Emplacement</th>
                <th>Session</th>
                <th>Nombre de places</th>
            </tr>
            {% for reservation in reservations %}
                {% if reservation.statut == 'success' %}
                    <tr>
                        <td>{{ grandprix[reservation.id]["date"] }}</td>
                        <td>{{ grandprix[reservation.id]["raceName"] }}</td>
                        <td>{{ reservation.emplacement.nom }}</td>
                        <td>{{ reservation.session }}</td>
                        <td>{{ reservation.nbPersonnes }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table> 
    {% endif %}
    <div class="form">
        <h2>Editer le profil</h2>
            {{ form_start(formEditUser) }}
        <div class="formRow">
            {{ form_row(formEditUser.pseudonyme) }}
        </div>
        <div class="formRow">
            {{ form_row(formEditUser.image) }}
        </div>
        <div>
            <a href="/reset-password">Changer le mot de passe</a>
            <a href="{{ path('profil_delete', {'id': app.user.id}) }}">Supprimer le compte</a>
        </div>
        <div>
            {{ form_row(formEditUser.valider) }}
        </div>
        {{ form_end(formEditUser) }}
    </div> 
</section>
{% endblock %}
