{% extends 'base.html.twig' %}

{% block title %}F1ndout - Admin{% endblock %}

{% block body %}
<main id="adminMain">
        <div class="select">
            <span id="btnUtilisateurs" class="active">Utilisateurs</span>
            <span id="btnUpload">Upload d'images</span>
        </div>  
    <div id="utilisateurs">
        <div id="listeUtilisateurs">
            <ul>
                {% for user in users %}
                <li>
                    <div class="user {% if (user.id == id) %} activeUser {% endif %}" data-user = "{{ user.id }}">
                        <a href="{{ path('app_admin_messages', {'id': user.id}) }}" class="userImg">  
                            <img src="{{ asset('assets/user/' ~ user.image) }}" alt="">
                        </a>
                            <div class="userData">
                            <a href="{{ path('app_admin_messages', {'id': user.id}) }}">{{ user.pseudonyme }}</a>
                            <span>{{ user.email }}</span>
                            <span>Inscrit depuis le {{ user.dateInscription|date("d/m/Y") }}</span>
                        </div>
                        <span class="bannir">Bannir</span>
                        <a data-ban href="{{ path('ban_user', {'id': user.id})}}" class="banToggle">
                            <div class="toggle {% if (user.statut == 1) %} activeToggle {% endif %}">
                                {% if user.statut == 1 %}
                                    <div class="text">ON</div>
                                {% else %}
                                    <div class="text">OFF</div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="listeMessages">
            <ul>
                {% set selectedUser = id %}
                {% for post in posts %}
                    {% if post.user.id == selectedUser and post.statut == 0  %}    
                        <li>
                            <span>{{ post.dateCreation|date("d/m/Y H:i:s") }}</span>
                            <span>{{ post.message }}</span>
                            <a data-delete href="{{ path('delete_post', {'id': post.id}) }}" class="delete"><i class="fa-regular fa-trash-can"></i></a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% for reponse in reponses %}
                    {% if reponse.user.id == selectedUser %}
                        <li>
                            <span>{{ reponse.dateCreation|date("d/m/Y H:i:s") }}</span>
                            <span>{{ reponse.message }}</span>
                            <a data-delete href="{{ path('delete_reponse', {'id': reponse.id}) }}" class="delete"><i class="fa-regular fa-trash-can"></i></a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="uploadForm">
        <div class="form">
            <h2>Uploader une image</h2>
                {{ form_start(formImageUpload) }}
            <div class="formRow formCategorie">
                {{ form_row(formImageUpload.categorie) }}
            </div>
            <div class="imageCircuit">
                <div class="formRow">
                    {{ form_row(formImageUpload.circuitName) }}
                </div>
                <div class="formRow">
                    {{ form_row(formImageUpload.imageCircuitType) }}
                </div>
            </div>
            <div class="imageEcurie">
                <div class="formRow">
                    {{ form_row(formImageUpload.ecurieName) }}
                </div>
                <div class="formRow">
                    {{ form_row(formImageUpload.ecurieImageType) }}
                </div>
            </div>
            <div class="imageGrandprix">
                <div class="formRow yearRoundRow">
                    {{ form_row(formImageUpload.grandprixYear) }}
                    {{ form_row(formImageUpload.grandprixRound) }}
                </div>
                <div class="formRow">
                    {{ form_row(formImageUpload.grandprixImageType) }}
                </div>
            </div>
            <div class="imagePilote">
                <div class="formRow">
                    {{ form_row(formImageUpload.driverName) }}
                </div>
                <div class="formRow">
                    {{ form_row(formImageUpload.driverImageType) }}
                </div>
                <div class="formRow numeroPiloteInput">
                    {{ form_row(formImageUpload.driverNumber) }}
                </div>
            </div>
            <div class="imageVoiture">
                <div class="formRow">
                    {{ form_row(formImageUpload.teamName) }}
                </div>
            </div>
            <div>
                {{ form_row(formImageUpload.image) }}
            </div>
            <div>
                {{ form_row(formImageUpload.valider) }}
            </div>
            {{ form_end(formImageUpload) }}
        </div> 
    </div>

</main>
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('javascript/admin.js') }}"></script>
{% endblock %}
