<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width">
        {# <title>{% block title %}Welcome!{% endblock %}</title> #}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        {% endblock %}
    </head>
    <nav>
        <h1>F1ndout.</h1>
        <span id="menuBtn">MENU <i id="arrow" class="fa-solid fa-chevron-down"></i></span>
        
        <div id="menu">
            {% set page = app.request.get('_route') %}
            <a class="{% if ('home' in page) %} active{% endif %}" href="{{ path('app_home') }}"><span>Accueil</span></a>            
            <a class="{% if ('actu' in page) %} active{% endif %}" href="{{ path('app_actu') }}"><span>Actus</span></a>
            <a class="{% if ('saison' in page) %} active{% endif %}" href="{{ path('app_saison') }}"><span>Saisons</span></a>
            <a class="{% if ('ecuries' in page) %} active{% endif %}" href="{{ path('app_ecuries') }}"><span>Ecuries</span></a>
        </div>
        <i class="fa-regular fa-user"></i>
        <div id="user">
            {% if app.user %}
            <a href="{{ path('app_profil', {'id': app.user.id}) }}">Profil</a>
            <a href="{{ path('app_logout') }}">Deconnexion</a>
            {% else %}
            <a href="{{ path('app_login')}}">Connexion</a>
            <a href="{{ path('app_register')}}">Inscription</a>
            {% endif %}
        </div>
    </nav>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
    {% endblock %}
</html>
